In [2]:
std = {"Name": ["Foo", "Bar", "Baz"],
       "Age": [20, 30, 40],
       "Gender": ["M", "F", "M"]}

std

{'Name': ['Foo', 'Bar', 'Baz'], 'Age': [20, 30, 40], 'Gender': ['M', 'F', 'M']}

In [3]:
std["Age"]

[20, 30, 40]

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame(std)
df

  Name  Age Gender
0  Foo   20      M
1  Bar   30      F
2  Baz   40      M

In [6]:
df["Age"]

0    20
1    30
2    40
Name: Age, dtype: int64

In [7]:
df.columns

Index(['Name', 'Age', 'Gender'], dtype='object')

In [8]:
df.iloc[2]

Name      Baz
Age        40
Gender      M
Name: 2, dtype: object

In [11]:
df.iloc[2, 1] # Shows the value of the 3rd row and 2nd column

40

In [12]:
df.iloc[[0,2],1]     # Shows the value of the 1st and 3rd row and 2nd column

0    20
2    40
Name: Age, dtype: int64

In [13]:
df.iloc[0:2,1]     # Shows the value of the 1st and 2nd row and 2nd column

0    20
1    30
Name: Age, dtype: int64

In [10]:
df.iloc[[0,2], 2]    # Shows the value of the 1st and 3rd row and 3rd column

0    M
2    M
Name: Gender, dtype: object

In [14]:
df.iloc[[0,2]]       # Shows the value of the 1st and 3rd row and all columns

  Name  Age Gender
0  Foo   20      M
2  Baz   40      M

In [15]:
df.iloc[0:2]         # Shows the value of the 1st and 2nd row and all columns

  Name  Age Gender
0  Foo   20      M
1  Bar   30      F

In [18]:
df.loc[[0,1], ['Name', 'Age']] # Shows the value of the 1st and 2nd row and Name and Age columns

  Name  Age
0  Foo   20
1  Bar   30

In [19]:
df.loc[[0,1], ['Name', 'Gender']] # Shows the value of the 1st and 2nd row and Name and Gender columns

  Name Gender
0  Foo      M
1  Bar      F